.body{
    padding: 30px 150px;
    background-color: white;
}
.img-banner{
    box-shadow: 0px 4px 30px rgba(19,28,25,0.1);
}
.text-link-home{
    text-decoration: none;
    color: #00bc86;
    margin-right: 5px;
}
.text-link-home:hover{
    font-weight: 700;
    color: black;
}
.text-link-loai{
    font-weight: 700;
    margin-left: 5px;
}