@media only screen and (max-width: 680px) {
    .cart-container-destop{
        display: none;
        
    }
    .cart-breadcum{
        margin-left: 15px;
        display: flex;
        align-self: start;
    }
}
@media only screen and (min-width: 681px) {
    .cart-container-mobile{
        display: none;
    }
    .cart-breadcum{
        margin-left: 115px;
        display: flex;
        align-self: start;
    }
    
}


.cart-header{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}

.cart-item{
    display: flex;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0px 4px 30px rgba(19,28,25,0.1);
    overflow: hidden;
    margin-bottom: 15px;
}
.cart-item-name{
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    min-height: 20px;
}
p.table-text{
    margin: auto;
    color: black;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient:vertical;
}
p.table-text.cart-item-quatity{
    padding: 0;
    margin: 10px ;
}
p.table-text.cart-item-price{
    color: red;
    font-weight: 700;
}
.tang-giam{
    padding: 2px 9px;
    border-radius: 7px;
    background-color: #00bc86;
    border: none;
    text-align: center;
}
.tang-giam:hover{
   
    background-color: #247961;
    
}
.cart-item-trash-icon{
    width: 25px;
    height: 25px;
    color: #000;
}
.cart-item-trash-icon:hover{
    color: red;
    cursor: pointer;
}
.cart-total-price{
    display: inline-block;
    color: red;
    font-size: 18px;
    margin-left: 10px;
    font-weight: 700;
    margin-right: 15px;
}
.btn-all.cart-btn-continue{
    background-color: #000;
    padding: 8px 25px 6px 25px;
    border-color: black;
    margin-right: 10px;
    font-size: 14px;

}
.btn-all.cart-btn-checkout{
    padding: 6px 25px;
    border-color: #00bc86;
    padding: 8px 25px 6px 25px;
    font-size: 14px;

}
.btn-all.cart-btn-checkout:hover {
    border-color: red;
    color: red;
}
.btn-all.cart-btn-continue:hover {
    border-color: red;
    color: red;
    background-color: white;
}


.cart-item-mb{
    border-radius: 25px;
    box-shadow: 0px 4px 30px rgba(19,28,25,0.1);
    overflow: hidden;
    margin-bottom: 15px;
    padding-right: 10px;
}