@media only screen and (min-width: 768px) {
    .container-user {
        max-width: 1023px;
        width: 100%;
    }
    
}

@media only screen and (min-width: 1024px) {
    .container-user {
        max-width: 1200px;
    }
}
.container-user {
    margin: 8px auto;
    display: flex;
    flex-wrap: wrap;
}
.container-user_navbar {
    flex-basis: 30%;
}
.container-user_form {
    flex-basis: 70%;
}
.container-form_change-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.container-form_change-password form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container-form_change-password form h1 {
    align-items: center;

}
.container-form_change-password form div {
    width: 100%;
}
.container-form_change-password form label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    opacity: 0.8;
}
.container-form_change-password form input {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
}
.container-form_change-password table td {
    /* width: 200px; */
}
.container-form_change-password table td:first-child {
    text-align: end;
    width: 180px;
    padding-right: 8px;
}
.container-form_change-password table td:last-child {
    align-items: center;
}
.container-form_change-password form button {
    width: 150px;
    background-color: #00bc86;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    align-items: center;
}
.container-form_change-password form button:hover {
    background-color: #008958;
  }
  