.checkOutPage .col {
    padding: 20px 12px 20px 12px;
}

.checkOutPage .container .title_row {
    background-color: #00bc86;
}

.checkOutPage .container .title_row .col {
    padding: 10px;
}

.checkOutPage .container .col-md-8 {
    border: 1px solid rgba(175,175,175,.34);
}

input[type="text"] {
    height: 60px;
}

.checkOutPage svg {
    margin: 0 10px;
    vertical-align: top;
}

.checkOutPage .banking-account {
    white-space: pre-line;
    background-color: #f1f1f1f1;
    padding: 8px;
    border-radius: 3px;
}

.checkOutPage .content-box {
    padding: 12px;
}

.checkOutPage .content-box_row {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 12px;
}

.checkOutPage .radio_label {
    margin-right: 20px;
}

.checkOutPage .radio-wrapper {
    padding-bottom: 10px;
}

.checkOutPage .sidebar {
    background-color: #fafafa;
}



/* Responsive */
@media (min-width: 1200px) {
    .checkOutPage {
        background-color: white;
        padding: 30px 160px;
    }
}

@media (min-width: 1000px) {
    .sidebar_header, .sidebar_content {
        padding-left: 2em;
    }
}