@media only screen and (max-width: 760px){
    .text-tittle{
        font-size: 16px;
    }
    .text-price{
        font-size: 16px;
    }
    .btn-level-normal{
        font-size:10px;
    }
    .text-des{
        font-size: 14px;
    }
    .text-price-sales{
        font-size: 10px;
    }
  }
  @media only screen and (min-width: 761px){
    .text-tittle{
        font-size: 20px;
    }
    .text-price{
        font-size: 22px;
    }
    .text-price-sales{
        font-size: 16px;
    }
    .btn-level-normal{
        font-size:14px;
    }
    .text-des{
        font-size: 16px;
    }
  }
  .link{
    text-decoration: none;
    
  }
  .link:hover{
    text-decoration: none;
    color: #00BC86;
  }
.Card{
    padding: 15px;
    box-shadow: 0px 4px 30px rgba(19,28,25,0.1);
    border-radius: 18px;
    border: none;
    margin-bottom: 12px;
    text-decoration: none;
    
}
.card-img{
    border-radius: 12px;
}
.btn-level-normal{
    text-align: left;
    background-color: #e1d6ff;
    padding: 3px 10px;
    margin-top: 20px;
    margin-bottom: 8px;
    border: none;
    font-weight: 600;
    color: #7768f2;
    border-radius: 10px;
    font-weight: 400;
    text-align: left;
    display: inline-block;

}

.btn-level-medium{
    text-align: left;
    background-color: #c5faeb;
    padding: 3px 10px;
    margin-top: 20px;
    margin-bottom: 8px;
    border: none;
    color: #009067;
    border-radius: 10px;
    text-align: left;
    display: inline-block;
}
.btn-level-hard{
    text-align: left;
    background-color: #fdd8d4;
    padding: 3px 10px;
    margin-top: 20px;
    margin-bottom: 8px;
    border: none;
    color: red;
    border-radius: 10px;
    text-align: left;
    display: inline-block;
}
.text-tittle{
    font-weight: 700;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    color: #000;
}
.text-tittle:hover{
    color: #00BC86;
}
.text-des{
    color: #00BC86;
    font-weight: 700;
    padding: 0;
    margin-bottom: 0;
}
.text-price{
    color: red;
    font-weight: 700;
    padding-top: 6px;
    padding-bottom: 0px;
    text-decoration: none;
    padding-right: 14px;
    display: inline-block;
    margin: 0;
}
.text-price-sales{
    text-align: center;
    padding: auto 0;
    display: inline-block;
    color: #929292;
    text-align: left;
    text-decoration: line-through 0.1px;
    font-weight: 500;
    margin: 0;
}.product-cart-icon{
    color: #00BC86;

}
.product-cart-icon:hover{
    color: red;
}