@media only screen and (max-width: 1150px) {
  .container-form-register {
      width: 65%;
  }
}
@media only screen and (min-width: 1151px) {
  .container-form-register {
      width: 50%;
  }
}
.container-form-register input[type="text"],
.container-form-register input[type="email"],
.container-form-register input[type="password"] {
  height: 40px; 
}
input[type="text"],
input[type="email"],
input[type="password"] {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  color: #403938;
  width: 100%;
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  background: #00bc86;
  border: 1px solid #00bc86;
  color: #fff;
  border-radius: 3px;
  width: 100%;
  height: 40px;
}

input[type="submit"]:hover {
  background: #008958;
  border: #008958;
  color: #fff;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
  font-weight: bold;
  padding-bottom: 4px;
}

.input-container label .required {
  color: #ff0000;
}
.form form p {
  text-align: center;
}
